/__pycache__
__pycache__

# Virtual environment
env/
venv/
ENV/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

mapa_precios_santiago.html

# CSV data files (opcional - descomenta si no quieres subir los datos)
# *.csv